.main-nav{
	.about-us{
    $width : ((146 - 1) / 965) * 100%;
    width: $width;
    margin-left: 1.5%; /* to justify the nav horizontally */
    &.active:after{
      left: 5%;
    }
  }
  .what-we-do{
    $width : ((149 - 1) / 965) * 100%;
    width: $width;
    &.active:after{
      left: 20%;
    }
  }
  .ft-bowen-craggs-index{
    $width : ((254 - 1) / 965) * 100%;
    width: $width;
    &.active:after{
      left: 35%;
    }
  }
  .our-thinking{
    $width : ((157 - 1) / 965) * 100%;
    width: $width;
    &.active:after{
      left: 60%;
    }
  }
  .event-networking{
    $width : ((258 - 1) / 965) * 100% - 4%; /* to justify the nav horizontally */
    width: $width;
    &.active:after{
      left: 80%;
    }
  }
}