.download-report .accordion .ui-accordion-content{
	fieldset{
		padding-right: 0;
		label{
			margin-right: 1em;
			width: 142px;
			font-size: 14px;
		}
	}
}

#report-tab{
	.total{
		@include clearfix;
		padding-bottom: 1em;
		.total-score{
			float: left;
		}
		.score{
			float: right;
		}
	}

	.eval-score{
		width: 40%;
		margin-right: 5%;
		float: left;
		label{
			width: 100%;
			margin: 0 0 0.5em 0;
		}
		select{
			width: 100px;
		}
	}

	.eval-reason{
		width: 55%;
		float: left;
		label{
			width: 100%;
			margin: 0 0 0.5em 0;
		}
		textarea{
			width: 350px;
			min-height: 100px;
		}
	}

	.ref-summary{
		label{
			display: block;
			float: none;
		}
		textarea{
			width: 100%;
			min-height: 120px;
			padding: 0; margin: 0;
		}
	}

}

#metric-tabs{


	#construction-tab{
		.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
			color: #333;
			font-weight: normal;
			border: none;
			padding: 10px 0 10px 15px;
		}
		.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
			border: none;
			color: #333;
			font-weight: normal;
			border: none;
			padding: 10px 0 10px 15px;
		}

		.ui-state-default .ui-icon, .ui-state-active .ui-icon{
			float: left;
		}
		.ui-widget-content{
			border: none;
			background: none;
		}
	}
}



.add-note-form{
	textarea{
		width: 100%;
		margin: 0; padding: 0;
		min-height: 120px;
	}
}

.screens{
	@include clearfix;
	padding: 20px;
	.screengrabs{

	}
	ul{
		li{
			float: left;
			position: relative;
			width: 220px;
			margin-right: 20px;
			figure{
				width: 100%;
				height: auto;
				img{
					display: block;
					max-width: 100%;
				}
				figcaption{

				}
			}
			.delete-icon{
				position: absolute;
				top: 10px; right: 10px;
				text-indent: -9999px;
			}


		}
		li:last-child{
			margin-right: 0px;
		}
	}	
}


.recommend{
	p{
		margin-bottom: 0;
	}
	textarea{
		padding: 0; margin: 0;
		min-height: 120px;
		width: 100%;
	}
}

#report-notes{

	ul{
		li{
			position: relative;
			border-bottom: 1px solid $col-line-light-gray;
			padding: 0 20px;

			p{
				font-family: $base-font;
				font-size: 15px;
				width: 90%;
				line-height: 20px;
				&.date{
					font-weight: bold;
				}
			}

			span{
				display: block;
				position: absolute;
				top: 0; right: 15px;
			}
		}
	}
}

article{
	.tags{
		overflow: visible;
		select{
			width: 60%;
		}
	}
	&.ref-url{
		overflow: hidden;
		section{
			overflow: hidden;
			label{
				display: block;
			}
		}
	}
}

.download-options{

	fieldset{
    padding: 0 0 10px 0;
    margin: 0;
    label{
      margin: 0;
      white-space: normal;
      width: 180px;
    }
  }

}

.new_best_practice{
	fieldset{
		label{
			width: 120px;
		}
		input, textarea{
			margin: 0 5px;
		}
		select{
			width: 315px;
		}	
		textarea{
			width: 306px;
			min-height: 130px;
		}
		
	}
}




/* admin*/
.container{

	.select2-input{
		min-width: 300px !important;
	}

	#rpt-tag{
		width: 300px
	}	
}
