<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @screengrab.caption %>
</p>

<%= link_to 'Edit', edit_screengrab_path(@screengrab) %> |
<%= link_to 'Back', screengrabs_path %>
