<div class="page-header">
	<h1>Subscribe to our newsletter</h1>
	<p>
		To get our regular commentary on how to be more effective online please fill out the form below. If you prefer not to use e-mail then follow us on Twitter or LinkedIn.
	</p>
	<p>
		E-mail is the only mandatory field here, but please let us have the other information requested* so that we can personalise our communications and send you the most relevant news.
	</p>
</div>
<%= render 'form' %>
