<article class="client-bar">
	<figure>
		<img src="/uploads/companies/logos/8a6e7d6d-f967-3474-a9ae-ad74590c58d9.gif" alt="">
	</figure>
	<section>
		<p>Welcome Babara, Amitha ba</p>
		<p><strong>Latest report score :</strong>177/280 (previous: 162/280)</p>
		<p><strong>Current rank: </strong>3</p>
	</section>
</article>

<%# if user_signed_in? %>
      
  <%#= current_user.email  %>
  <%#= current_user.company.name %>
  <%#= image_tag(current_user.company.logo.url(:normal)) %>

<%# end %>