<article class="client-bar">
	<figure>
		<%= link_to image_tag(current_user.company.logo.url(:normal)), current_user.company.url, :target => 'blank' %>
	</figure>
	<section>
		<p> Welcome 
			<%= link_to my_account_path do %>
				<%= current_user.lastname if current_user.lastname.present? %>, 
				<%= current_user.firstname if current_user.firstname.present?%>
			<% end %>
		</p>
		<p><strong>Latest report score :</strong>177/280 (previous: 162/280)</p>
		<p><strong>Current rank: </strong>3</p>
	</section>
</article>

<%# if user_signed_in? %>
      
  <%#= current_user.email  %>
  <%#= current_user.company.name %>
  <%#= image_tag(current_user.company.logo.url(:normal)) %>

<%# end %>