  .dashboard{
    width: 125px;
  }
  .score-card{
    width: 120px;
  }
  .latest-report{
    width: 141px;
  }
  .progress-chart{
    width: 150px;
  }
  .peer-comparison{
    width: 170px;
  }
  .best-practice{
    width: 135px;
  }
  .results-table{
    width: 135px;
  }
  .consultancy{
    width: 130px;
  }
  .wen{
    width: 90px;
  }