<div class="container">
	<div class="footer">
		<ul class="nav nav-pills pull-left">
      <li>Bowen Craggs &amp; CO. Ltd. 2013</li>
      <li>Visit<a href="#">Bowencraggs.com</a></li>
    </ul>
		
    <span class="pull-right">
    	<img src="/assets/footer-logo.jpg" alt="logo" />
    </span>
	</div>
</div>
