<div class="well">
	<a href="#" class="adv-search btn btn-filter  pull-right"><i></i>Hide Filter</a>
</div>

<div class="well filters adv-search">
	<section>

		<form>
			<article>
				<section>
					<fieldset>
						<label>Keyword</label>
						<input type="text" />
					</fieldset>

					<fieldset>
						<label>Tagged with</label>
						<select class="form-control">
							<option>related links</option>
							<option>about us unusaul</option>
							<option>accessibility - good</option>
						</select>
					</fieldset>

					<fieldset>

						<label>Published between</label>
						<input type="text" id="published_from" />
						<input type="text" id="published_to" />
					</fieldset>

					<div class="form-action">
						<button href="#" class="btn btn-green"><i></i>Search</button>
						<button href="#" class="btn btn-reset"><i></i>Reset</button>
					</div>
				</section>
			</article>
		</form>

	</section>
</div>

<div class="well search-results">
		
		<article>
			<header>
				<span class="type">WEN Article</span>
				<a href="#">Dropping a clanger</a>
				<span class="date">23rd July, 2013</span>
			</header>
			<p>Corporate sites are abandoning left-hand navigation without assessing whether it remains the most appropriate for their – and their users’ – needs, David Bowen says.</p>
			<p>Corporate sites are abandoning left-hand navigation without assessing whether it remains the most appropriate for their – and their users’ – needs, David Bowen says.</p>
		</article>

		<article>
			<header>
				<span class="type">Events</span>
				<a href="#">Database update: BASF mobile takes aim</a>
				<span class="date">23rd July, 2013</span>
			</header>
			<p>Corporate sites are abandoning left-hand navigation without assessing whether it remains the most appropriate for their – and their users’ – needs, David Bowen says.</p>
		</article>

		<article>
			<header>
				<span class="type">BC Tips</span>
				<a href="#">Database update : Coca-Cola's 'Journey' now easier with better navigation</a>
				<span class="date">23rd July, 2013</span>
			</header>
			<p>Corporate sites are abandoning left-hand navigation without assessing whether it remains the most appropriate for their – and their users’ – needs, David Bowen says.</p>
		</article>

		<article>
			<header>
				<span class="type">BC Tips</span>
				<a href="#">Database update : Coca-Cola's 'Journey' now easier with better navigation</a>
				<span class="date">23rd July, 2013</span>
			</header>
			<p>Corporate sites are abandoning left-hand navigation without assessing whether it remains the most appropriate for their – and their users’ – needs, David Bowen says.</p>
		</article>

		<article>
			<header>
				<span class="type">BC Tips</span>
				<a href="#">Database update : Coca-Cola's 'Journey' now easier with better navigation</a>
				<span class="date">23rd July, 2013</span>
			</header>
			<p>Corporate sites are abandoning left-hand navigation without assessing whether it remains the most appropriate for their – and their users’ – needs, David Bowen says.</p>
		</article>

	</div>