<footer>
  <div class="utility">
    <ul>
        <li><a href="#" id="go-top">
          <span>Top of page</span></a>
        </li>
        <li>
          <a href="/privacy-cookies/" class="cc-privacy-link">
            <span>Privacy &amp; cookies</span>
          </a>
        </li>
        <li><a href="http://www.skyron.co.uk" target="_blank"><span>Designed by Skyron</span></a></li>
    </ul>
    <span>&copy; Bowen Craggs &amp; Co. Ltd. 2013</span>
  </div>
</footer>