<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_report_tag.name %>
</p>

<%= link_to 'Edit', edit_admin_report_tag_path(@admin_report_tag) %> |
<%= link_to 'Back', admin_report_tags_path %>
