/*bootstrap overwrite*/
header{
  .navbar{
    border-bottom: 1px solid silver;
    padding-bottom: 27px;
    margin: 0;
  }

  .navbar-brand{
    padding: 0;
  }

  .navbar-nav{
    li{
      a{
        font-family: $base-font-alt;
        font-size: 16px;
        color: $font-color;

        &:hover{
          color: $link-color;          
          background-color: white;
        }
      }
    }
  }
}


#main-navigation {
  @include legacy-pie-clearfix();
  padding-bottom: 0.83333em;
  border-bottom: 1px solid silver;
}

.main-nav{

  @include legacy-pie-clearfix();
  font-size: 19px;
  font-family: $base-font-alt;
  //@include trailer(.5, $base-font-size, margin);
  margin-top: 0.83333em;
  @include inline-list-style();

  .sub-nav{
    margin-top: -1px;
  }

  ul{
    position: relative;
    li{
      float: left;
      line-height: 22px;
      a{
        display: block;
      }
    }
  }

  li{
    border-left: 1px solid $col-line-gray;
    cursor: pointer;
    text-align:center;
    &:first-child{
      border-left: 0;
    }
    a{
      color: $font-color;
      padding: 0;
      &:hover{
        color: $link-color;
        text-decoration: none;
        background: none;
      }
    }
  }
}

.sub-nav{
  @include legacy-pie-clearfix();
  @include leader(.2, 21px, padding);
  @include trailer(.2, 21px, padding);
  background: $col-blue;

  li{
    border-left: 0;
    display: block;
    margin: 0 5px;
    text-align: left;

    &.Web-Effectiveness-database{
      width: 165px;
    }
    &.strategic-consulting{
      width: 165px;
    }
    &.audience-research-and-measurement{
      width: 165px;
    }

    a{
      color: white;
      font-size: 18px;
      &:hover,
      &:focus{
        text-decoration: none; 
        color: white;       
      }
    }
    span{
      @include leader(.3, 22px, padding);
      @include trailer(.3, 22px, padding);
      color: white;
      display: block;
      padding-left: 8px;
      padding-right: 8px;
      &:hover{
        background-color: $col-dark-blue;
      }
    }
    &:before{
      content: "";
      display: block;
      float: left;
      height: 25px;
      margin-top: 7px;
      margin-left: -5px;
      border-left: 1px solid $col-line-gray;
    }
    &:first-child:before{
      border-left: 0;
    }
  }
  
  &.item-3 li{}
  &.item-4 li{}
  &.item-5 li{
    max-width: 18%; // (100% / 5items) - margins
  }

  
}

