.navbar-form{
	.form-group{
		position: relative;
		
		input[type="text"]{
			padding-right: 20px;

			&:focus{

				+ .search{
					@include icons-sprite(search_icon_over);
				}
			}
		}

		.search{
			text-indent: -9999px;
			display: block;
			position: absolute;
			top: 0; right: 2px;
			@include icons-sprite(search_icon);
			border: none;
			width: 22px;
			margin-top: 5px;

			&:hover{
				@include icons-sprite(search_icon_over);
			}
		}
	}	
}


/* Advanced Search */
.container{
	
	.adv-search{
		margin-bottom: 5px;

		.ui-datepicker-trigger{
			margin-right: 20px;
		}
	}	

	.search-results{
		@include article-list-style;
	}
}

