//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------
// $round-to-nearest-half-line: true;



body, select, input, textarea {

  color: $font-color;
  font-family: $base-font;
  font-size: 16px;
}


*{
   box-sizing: border-box;
}
:focus {
  outline: 0;
}

//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {
  margin: 0;
  padding: 0;
  background:#fff url('/assets/BowenCraggs_bg.png') left top no-repeat;
  background-size: 456px 365px;
}

.container {
  @include container;
  // @include susy-grid-background; /* Susy */
  >header{

    margin-top: 24px;
    h1{
      font-family: $base-font-alt;
    }  
  }
  &.login{
    width: 960px;

    .container{
      width: 960px;
    }
  }
}
.main, .container{
  .page-header {
    padding-bottom: 9px;
    margin: 20px 0 5px;
    border-bottom: 1px solid $silver;
    position: relative;

    h1{
      font-family: $base-font-alt;
      font-size: 30px;
      + a{
        position: absolute;
        right: 0;
        top: 20%;
      }
    }

    



    .lead, .lead p{
      font-family: $base-font-alt;
      font-size: 20px;
      line-height: 28px;
    
    }
  }  


}
