<% page_title @page_title %>
<% page_lead @page_lead %>

<%= render "shared/advanced_search" %>

<% content_for :sidebar do %>


	<div class="widget LightGray peer-updates">
		<h3>Company Index</h3>
		<section>
			<ul>
				<% @companies.order(:updated_at).each do |company| %>
					<li>
						<%= link_to image_tag(company.icon.url(:normal)), company.url %>
						<p>
							<%= link_to company.name, company_profile_path(company) %>
						</p>
						<p><small><%= company.updated_at %></small> </p>
					</li>
				<% end %>
			
			</ul>
		</section>
	</div>
<% end %>