<% page_lead @page_lead %>

<div class="well">
	<section>
		<a href="#" class="btn btn-by-metric">
			<i></i>View by metric
		</a>
		<a href="#" class="btn btn-all-metric">
			<i></i>View all
		</a>

		<div class="ddl-download pull-right">
			<select class="form-control">
				<option>Format</option>
				<option>Pdf</option>
			</select>
			<a href="#" class="btn btn-download">
				<i></i>Download
			</a>
		</div>
		
	</section>
</div>

<div class="view-all-metric">

</div>
<%#= render "wed/wed/partials/best_practice_all" %>
<div class="view-by-metric">
	<%= render "wed/wed/partials/best_practice_by_metric" %>
</div>
