<div class="wed-consultancy">
	<div class="well results">
			
			<article>
				<header>
					<span class="type">WEN Article</span>
					<a href="#">Dropping a clanger</a>
					<span class="date">23rd July, 2013</span>
				</header>
				<p>Corporate sites are abandoning left-hand navigation without assessing whether it remains the most appropriate for their – and their users’ – needs, David Bowen says.</p>
				<p>Corporate sites are abandoning left-hand navigation without assessing whether it remains the most appropriate for their – and their users’ – needs, David Bowen says.</p>
			</article>

			<article>
				<header>
					<span class="type">Events</span>
					<a href="#">Database update: BASF mobile takes aim</a>
					<span class="date">23rd July, 2013</span>
				</header>
				<p>Corporate sites are abandoning left-hand navigation without assessing whether it remains the most appropriate for their – and their users’ – needs, David Bowen says.</p>
			</article>

			<article>
				<header>
					<span class="type">BC Tips</span>
					<a href="#">Database update : Coca-Cola's 'Journey' now easier with better navigation</a>
					<span class="date">23rd July, 2013</span>
				</header>
				<p>Corporate sites are abandoning left-hand navigation without assessing whether it remains the most appropriate for their – and their users’ – needs, David Bowen says.</p>
			</article>

		</div>


	<% content_for :sidebar do %>
		<div class="widget theme-blue">
			<section>
				

				<a href="#" class="btn btn-download"><i></i>Download</a>
			</section>
		</div>

		<div class="widget theme-dark">
			<section>
				

				<a href="#" class="btn btn-download">Full details here</a>
			</section>
		</div>

		<div class="widget theme-light">
			<section>
				

				<a href="#" class="btn btn-download">FT Index database</a>
			</section>
		</div>

	<% end %>
</div>