<ul class="nav-tabs classic" id="report_tab">
  <li class="active">
  	<%= link_to "My Account", my_account_path %>
  </li>
  <li>
  	<%= link_to "My Peers", my_peers_path %>
  </li>
</ul>

<%= current_user.username %><BR>
TO DO: USER ACCOUNT EDIT FORM