<% page_title @page_title %>
<% page_lead @page_lead %>

<div class="well">
	<section>

		<div class="ddl-download">
      <select class="form-control">
          <option>Format</option>
          <option>Pdf</option>
          <option>CSV</option>
      </select>
      <a href="#" class="btn btn-download"><i></i>Download</a>
    </div>
    
	</section>
</div>

<div class="well legend">
  <div class="row">
    <div class="col-sm-3">No previous report data available</div>
    <div class="col-sm-3">No change from last report</div>
    <div class="col-sm-3">Score has increased since last report</div>
    <div class="col-sm-3">Score has decreased since last report</div>
  </div>
</div>


<!-- <table class="table tbl-peer-comparison">
  <thead>
    <tr>
    	<%# @metrics.each do |metric| %>
    		<th><%#= metric.name %></th>
    	<%# end %>
    	<th>Total</th>
    </tr>
  </thead>
  <tbody>
    
      <%# @metrics.each do |metric| %>
        
        	<%# @my_peers.each do |peer| %>
          <tr>
    				<td>
              <%#= peer.name %>
              <%#= link_to image_tag(peer.icon.url(:normal)), peer.url, :target => "_blank" %>
            </td>
            </tr> 
          <% #end %>
           
      <% #end %>
  </tbody>
</table>  -->

<% @metrics.each do |metric| %>
  <%= metric.name %>,<br />

  <% @my_peers.each do |peer| %>
    <%= peer.name %><br />
    <% peer.latest_report.reports_metrics.where(:metric_id => metric.id).order('total_score asc').each do |report_metric| %>
      <%= report_metric.total_score %>,<br>
    <% end %>
  <% end %>

<% end %>
<%# current_user.user_peer_companies.first.peer_company.latest_report.reports_metrics.where(:metric_id => 1) %>




