<div class="page-header">
	<h1>Edit region</h1>
	<%= link_to 'Back to list', admin_regions_path %>
</div>

<%= render 'form' %>

<%#= link_to 'Show', @region %>
<%#= link_to 'Back', admin_regions_path %>