.container{
	&.login{

		.navbar{
			border: none;
		}

		.login-form{
			margin: 0 auto;
			width: 600px;


			form{
				margin-bottom: 5px;
				border-bottom: 1px solid silver;

				label{
					text-align: right;
					width: 150px;
				}

				input[type='submit']{
					margin-right: 74px;
				}

				article{
					background-color: #f0f1f1;
					padding: 40px 20px 30px;
					border-bottom: 0px;
				}
			}
		}
	}
}
