
	<% unless @web_page.nil? || @web_page.widgets.nil? %>
		<% @web_page.widgets.each do |widget| %>
			
			<div class="widget">
				<section>
					<%= raw widget.body %>
				</section>
			</div>

		<% end %>
	<% end %>